@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}

ul,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.2;
  word-break: break-all;

  margin: 1.25rem 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}
