.form {
  margin-bottom: 2rem;
}

.lostPassword {
  display: inline-block;
  color: var(--color-medium-dark);
  padding: 0.5rem 0;
  line-height: 1;
  transition: all 0.3s ease-in-out;
}

.lostPassword:hover {
  color: var(--color-black);
}

.lostPassword::after {
  content: '';
  height: 2px;
  width: 100%;
  background: currentColor;
  display: block;
}

.register {
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.subtitle {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
}

.subtitle::after {
  content: '';
  display: block;
  background: var(--color-gray-dark);
  height: 0.5rem;
  width: 20%;
  border-radius: 0.2rem;
}

.paragraph {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
