.button {
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--font-family);
  padding: 0.8rem 1.2rem;
  min-width: 8rem;
  border: none;
  border-radius: 0.4rem;
  background-color: var(--color-yellow);
  color: var(--color-brown);
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.button:hover,
.button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #fea, 0 0 0 4px #fb1;
}

.button:disabled {
  opacity: 0.5;
  cursor: wait;
}
