.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  background-color: var(--background-color-header);
  box-shadow: var(--shadow-header);
  transition: all 0.3s ease-in-out;
}

.nav {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoImg {
  padding: 0.5rem 0;
}

.login {
  display: flex;
  align-items: center;
  color: var(---color-text);
  transition: all 0.3s ease-in-out;
}

.login:hover {
  color: var(--color-primary);
}

.login::after {
  content: '';
  width: 0.875rem;
  height: 1.0625rem;
  display: inline-block;
  background: url('../../assets/usuario.svg') no-repeat center center;
  margin-left: 0.5rem;
}
