.wrapper {
  margin: 0.5rem 0 1rem 0;
}

.label {
  display: block;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 1;
}

.input {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  border: 0.0625rem solid var(--color-light);
  border-radius: 0.4rem;
  background-color: var(--color-light);
  transition: 0.2s;
}

.input:hover,
.input:focus {
  outline: none;
  border: 2px solid var(--color-yellow);
}

.error {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--color-error);
}
