.footer {
  padding: 3rem 1rem;

  background: var(--color-yellow);
  color: var(--color-brown);
}

.wrapperFooter {
  max-width: 50rem;
  margin: 0 auto;
  padding: 0 0.125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.containerCopyright {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

@media (min-width: 768px) {
  .wrapperFooter {
    padding: 0 1rem;
  }
}
