.login {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100vh;
}

.login::before {
  display: none;
}

.formsPage {
  max-width: 100%;
  padding: 1.25rem;
}

@media (min-width: 768px) {
  .login {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .login::before {
    content: '';
    display: block;
    background: url('../../assets/login.jpg') no-repeat center center;
    background-size: cover;
  }

  .formsPage {
    max-width: 30rem;
  }
}
