.photoContainer {
  margin: auto;
  height: 36rem;
  border-radius: 0.2rem;
  background: #e7f5ff;
  display: grid;
  align-items: center;
  grid-template-columns: 36rem 20rem;
  overflow: hidden;
  opacity: 0;
  transform: scale(0.8);
  animation: scaleUp 0.3s forwards;
}

@keyframes scaleUp {
  to {
    opacity: initial;
    transform: initial;
  }
}

.photoContainerDetails {
  height: inherit;
  padding: 2.25rem 0.5rem 0 0.5rem;
  background: #e7f5ff;
}
